<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script id="getscript" posts="{{posts}}" comments="{{comments}}"></script>
    <script type="text/javascript" src="fullcomments.js"></script>
    <!-- WHY IS THIS GIVING 404s??? -->
    <title>{{user.username}}'s Posts</title>
</head>
<body>
    <div>
        <h1>
            {{user.username}}    
        </h1>
    </div>
    <hr>
    All Comments:
    <div id="comment-div">
        
    </div>
    <hr>
</body>
</html>