<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>

<body>
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-wwarning alert-dismissible fade show" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>

    <form action="/post/" method="post">
        <h2>Recipe Name</h2>
        {{ form.hidden_tag() }}
        {{ form.post_name.label }}
        {{ form.post_name }}
        {% if units == "Imperial" %}
        <h2>Ingredients</h2>
        {% for entry in form.ingredients %}
        <h4> {{entry.name.label}}: {{entry.name}}</h4>
        <p>{{entry.quantity.label}} {{entry.quantity}}</p>
        <p>{{form.im_units.label}} {{form.im_units}}</p>
        {% endfor %}
        {% endif %}
        {% if units == "Metric" %}
        <h2>Ingredients</h2>
        {% for entry in form.ingredients %}
        <h4>{{entry.name.label}}: {{entry.name}}</h4>
        <p>{{entry.quantity.label}} {{entry.quantity}}</p>
        <p>{{form.m_units.label}} {{form.m_units}}</p>
        {% endfor %}
        {% endif %}
        <h2>Steps</h2>
        {{ form.recipe.label }}
        {{ form.recipe }}
        {{ form.submit }}
    </form>
</body>

</html>