<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="#" id="post-id" postid="{{post.id}}"></a>
    <script src="/static/styles/add_new_comment.js"></script>
    <title>"{{post.post_name}}" by {{user.username}}</title>
</head>
<body>
    <div id="title-div">
        <h2>{{post.post_name}}</h2>
        <h4>by {{user.username}}</h4>
        <h4>{{"%.1f"|format(post.rating)}} Stars - {{post.numcomments}} Comments - {{post.numlikes}} Likes</h4>  
    </div>
    <hr>
    <div>
        <h2>
            Ingredients Needed:
        </h2>
        {% set ingredient_list = post.ingredients.split("\n") %}
        <ul>
            {% for i in range(0, (ingredient_list|length)-1) %}
            <li>
                {{ingredient_list[i]}}
            </li>
            {% endfor %}
        </ul>
        <hr>
        <h2>
            Instructions:
        </h2>
        <p>
            {{post.recipe}}
        </p>
        <hr>
    </div>
    <!-- ADD A WAY TO COMMENT AND RATE THE POST HERE -->
    {% if logbool==true %}
    <div id="add-new-comments">
        <input type="text" size="50" id="comment-value">
        <input type="number" id="rating-value" min="1" max="5">
        <input type="button" id="add-button" value="Add Comment">
    </div>
    {% endif %}
    <div id="comment-section">

    </div>
</body>
</html>